mixin my-person-screen__img(modifier)
  picture.my-person-screen__img&attributes(attributes)  
    source(type='image/webp' srcset=require('../../img/arounMeMDAboveCompressed.webp') media="(min-width: 767px)")
    source(type='image/webp' srcset=require('../../img/arounMeMDAboveCompressed.png') media="(min-width: 767px)")
    source(type='image/webp' srcset=require('../../img/arounMeXSAboveCompressed.webp') media="(min-width: 300px)")
    source(type='image/webp' srcset=require('../../img/arounMeXSAboveCompressed.png') media="(min-width: 300px)")
    img(src=require('../../img/arounMeMDAboveCompressed.png') alt="Изображение меня в кафэшке.")
    
    
    
    