mixin greetings-screen__img(modifier)
  picture.greetings-screen__img&attributes(attributes)
    source(type='image/webp' srcset=require('../../img/onlyMyFaceMDAboveCompressed.webp') media="(min-width: 767px)")
    source(type='image/png' srcset=require('../../img/onlyMyFaceMDAboveCompressed.png') media="(min-width: 767px)")
    source(type='image/webp' srcset=require('../../img/onlyMyFaceXSAboveCompressed.webp') media="(min-width: 300px)")
    source(type='image/png' srcset=require('../../img/onlyMyFaceXSAboveCompressed.png') media="(min-width: 300px)")
    img(src=require('../../img/onlyMyFaceXSAboveCompressed.png') alt="Тут изображенно моё лицо, не пугайтесь." width="180" height="180")
    
    
    
